<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhF8gpF_sUGx22JrUbiEf5E96J4j9IoPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>481774829633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>---grorgianc.on.ca.FoodDonation</string>
	<key>PROJECT_ID</key>
	<string>donationapp-8ca07</string>
	<key>STORAGE_BUCKET</key>
	<string>donationapp-8ca07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481774829633:ios:6c9fe922b7f998b82346c0</string>
</dict>
</plist>